%table
  - @groups.each do |group|
    %tr
      %td +
      %td= link_to group.name, group
      %td
        - size = 70
        = group.description.first(size)
        - if group.description.size > size
          \...
