%h1 About

%p
  部活管理ツール。

%h2 注意事項
%ul
  %li ただいまテスト中につき予告なくデータを消すことがあります。
  %li 本サイトの参加者、管理者、システム管理者は、あなたが本サイトを利用したことに関連して生ずる損害について、一切責任を負いません。
  %li
    本サイトをより良いものにするためのご意見は
    = link_to '@dan5ya', 'http://twitter.com/dan5ya'
    までお願いします。

%hr

%p 以下開発メモ。

%h2 Concept

%p
  あたりまえの部活管理ツール。

%p
  圧倒的に使いやすすぎて、部活動の管理はこれがないとふつうにやってられない...
  そんなあたりまえの部活管理ツール。

%h2 Road map

%ol
  %li== テスト公開（<-いまここ）
  %li ギーク向けデザインで一般公開
  %li 制限機能、出欠集計機能等の強化
  %li 一般向けデザインで公開
%h2 Todo

%ul
  %li 日時入力の良い方法を知りたい
  %li テストを用意する
  %li 最もふさわしい認証方法を探る（ケータイからも）
  %li 多言語対応
  %li descriptionのhtml化
