%h1 About

%p
  部活出欠管理ツール。

%p
  本サイトをより良いものにするために開発中のバージョンをテスト公開しています。
  興味がありましたら是非お試しください。
  お気づきの点がありましたら
  = link_to '@dan5ya', 'http://twitter.com/dan5ya'
  宛に改善案をいただけると嬉しいです。

%h2 特徴

%ul
  %li ゆるいメンバー管理（出欠連絡を3回連続で怠ると自動的に退部）
  %li メンバーを出席履歴で格付け（新入部員, レギュラー, 準レギュラー, レアキャラ, 幽霊部員）

%h2 注意事項

%ul
  %li ただいまテスト中につき予告なくデータを消すことがあります。
  %li 本サイトの参加者、管理者、システム管理者は、あなたが本サイトを利用したことに関連して生ずる損害について、一切責任を負いません。

%hr

%p 以下開発メモ。

%h2 Concept

%p
  あたりまえの部活管理ツール。

%p
  圧倒的に使いやすすぎて、部活動の管理はこれがないとふつうにやってられない...
  そんなあたりまえの部活管理ツール。

%h2 Road map

%ol
  %li== テスト公開（<-いまここ）
  %li
    ギーク向けデザインで一般公開
    %ul
      %li デザイン作成
      %li 認証機能追加
      %li テストの整備
      %li JavaScriptを積極的に用いたUI
      %li BBS機能追加
  %li
    制限機能、出欠集計機能等の強化
    %ul
      %li ケータイ対応
  %li 一般向けデザインで公開

%h2 Todo

%ul
  %li 日時入力の良い方法を知りたい
  %li テストを用意する
  %li 最もふさわしい認証方法を探る（ケータイからも）
  %li 多言語対応の正法を確認
  %li descriptionのhtml化
