%h1 Bu

%p= link_to 'new group(譁ｰ縺励＞驛ｨ豢ｻ繧剃ｽ懊ｋ)', "/groups/new"

%h2 Groups

= render 'groups/groups'

%h2 Todo

%p + 日時入力の良い方法を知りたい
%p + テストを用意する
%p + 最もふさわしい認証方法を探る（ケータイからも）
%p + permission ... public / need invitation / secret
