%h1 Bu: beta

%p
  サービス開始から
  %strong.big
    #{UserEvent.count}人
  が出欠を入力しました！

%h2 部活メンバーの出欠管理を、シンプルに。

%p
  Buは私たちが日常参加している、小さなコミュニティのスケジュール管理やメールによる連絡通知をとってもシンプルにサポートします。
  すべての人が簡単に手軽に利用できる、あたりまえの出欠管理サービスを目指します！

%p= link_to _('new group'), "/groups/new"

%h2 お知らせ

%ul
  %li 2012/02/03 ... テスト公開中

%h2=_'Groups'

= render 'groups/groups', { groups: @groups, current_user: @current_user }
