- if group_id = session[:group_id]
  - group = Group.find(group_id)
  %h3= link_to group.name, group
%h1=_'New event'

= render 'form', { event: @event, group: @group }

.bottom_menu
  = link_to 'Back', group ? group : events_path
