/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*.actions input {
  border-style:solid;
  border-width:1px;
  border-color:#04a;
  background:#FFFFFF;
  color:#04a
}*/

.top { vertical-align: top; }
.bottom { vertical-align: bottom; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.gray { color: #888888; }
.small {
  font-size: 70%;
  line-height: 1.62;
}
.bold { font-weight: bold; }

.atnd_other {
  color: #4a4;
}

.atnd {
  font-weight: bold;
  color: #777;
}

.atnd_other {
  color: #4a4;
}

.update a:link {
  color: #c42;
  text-decoration: none;
}

.update a:hover {
  color: #fff;
  background-color: #a40;
}

html {
  /* font-size: 16px; */
}

h1 {
  margin: 24px 0;
}

h2 {
  margin-top: 40px;
  margin-bottom: 14px;
}

div.description {
  margin: 8px 0;
  padding: 8px;
  color: #000;
  background-color: #eee;
}

/* -- */
body {
  margin: 8px 16px;
}

div.topmenu {
}

div.bottom_menu {
  margin-top: 16px;
}

div.footer a:link {
  color: #777;
  text-decoration: none;
}

div.post {
  margin: 32px 0;
}

div.post .head {
  margin: 6px 0;
}

div.post .body {
  margin-left: 22px;
}

div.post_menu {
  margin-top: 16px;
  margin-bottom: 6px;
}
