/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*.actions input {
  border-style:solid;
  border-width:1px;
  border-color:#04a;
  background:#FFFFFF;
  color:#04a
}*/

.top { vertical-align: top; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.gray { color: #888888; }
.small {
  font-size: 70%;
  line-height: 1.62;
}
.bold { font-weight: bold; }

.atnd_other {
  color: #4a4;
}

.atnd {
  font-weight: bold;
  color: #777;
}

.atnd_other {
  color: #4a4;
}

a:link {
  color: #000;
}

a:hover {
  color: #fff;
  background-color: #000;
}

.update a:link {
  color: #c42;
  text-decoration: none;
}

.update a:hover {
  color: #fff;
  background-color: #a40;
}

html {
  font-size: 14px;
}

h1 {
  margin: 24px 0;
}

h1 a {
  color: #666;
  text-decoration: none;
}

h2 {
  margin-top: 40px;
  margin-bottom: 14px;
}

div.events {
  div.logo {
    padding: 3px;
    text-align: center;
    border: 1px solid #666;
    img {
      margin: 0px 0px -4px 0px;
      max-width: 630px;
      max-height: 630px;
    }
  }
  
  div.description {
    margin: 16px 0;
  }
}

div.groups {
  td.logo {
    vertical-align: top;
    div.logo {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      min-width: 104px;
      height: 104px;
      border: 1px solid #666;
      img {
        margin: 0px 0px -4px 0px;
        max-width: 100px;
        max-height: 100px;
      }
    }
  }
  td.title {
    padding-left: 12px;
    h1 {
      margin: 0;
    }
  }

  div.description {
    margin: 16px 0;
    /*padding: 12px;
    color: #000;
    background-color: #eee;*/
  }
}

div.events {
  div.state {
    margin-top: 12px;
    padding: 8px 0;
    font-size: 18px;
    p {
      margin-top: 0;
      margin-bottom: 16px;
      font-size: 18px;
      color: gray;
    }
    b {
      font-size: 18px;
    }
    .atnd {
      span.attend {
        font-size: 32px;
      }
      span {
        margin: 0px 2px;
      }
    }
  }

  div.users {
    margin: 16px 0;
    line-height: 1.8;
    b.group_name {
      font-size: 18px;
    }
    .name {
      margin: 0 2px;
    }
  }

  div.comment {
    margin: 16px 0;
  }
}

div.comments {
  div.comment {
    margin: 16px 0;
  }
}

/* -- */
div.border {
  margin: 4px;
  border: 1px solid #ccc;
}

body {
  text-align: left;
}

div.content {
  margin: 8px 16px;
  width: 640px;
  text-align: left;
}

div.topmenu {
  text-align: left;
}

div.bottom_menu {
  margin-top: 16px;
}

div.footer a:link {
  color: #777;
  text-decoration: none;
}

div.post {
  margin: 32px 0;
}

div.post .head {
  margin: 6px 0;
}

div.post .body {
  margin-left: 22px;
}

div.post_menu {
  margin-top: 16px;
  margin-bottom: 6px;
}
