.myPic
{
	margin:10px;
	border-radius:10px;
	border:1px solid #ccc;
}

.group_icon_small
{
  margin: 4px;
  border-radius: 4px;
  border:1px solid #ccc;
  max-width: 40px;
  max-height: 40px;
}

.event_icon_small
{
  margin: 2px 0;
  border-radius: 4px;
  border:1px solid #ccc;
  max-width: 48px;
  max-height: 32px;
}

