%h1=_'My page'

%p#notice= notice

%h2=_'Update'
%p @todo

%h2=_'Events'
- @events = @user.groups.map(&:events).flatten.sort_by(&:started_at).reverse
= render '/groups/events', { events: @events, user: @user }

%h2=_'Your Groups'

- @groups = @user.groups
- @current_user = @user
= render '/groups/groups', { groups: @groups, current_user: @current_user }
