%h1=_'My page'

%p#notice= notice

%p= link_to _('new group'), "/groups/new"

%h2=_'Events'
- @events = @user.groups.map(&:events).flatten.sort_by(&:started_at).reverse
= render '/groups/events'

%h2=_'Your Groups'
- @groups = @user.groups
= render '/groups/groups'
