%h1 My page
%p#notice= notice

%p= link_to '新しい部活を作る', "/groups/new"

%h2 活動スケジュール
- @events = @user.groups.map(&:events).flatten.sort_by(&:started_at).reverse
= render '/groups/events'

%h2 参加している部活
- @groups = @user.groups
= render '/groups/groups'
